* {
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 4fr 4fr;
    box-sizing: border-box;
    font-family: 'Tangerine', cursive;
    background-color: rgb(227, 229, 230);
    box-sizing: border-box;
    color: rgb(58, 58, 60);
    margin: 0 auto;
}

div {
    display: flex;
    align-items: start;
    justify-content: center;
}

img {
    height: 35vmin;
    width: 35vmin;
}

#display-msg {
    grid-column: 3;
    grid-row: 2;
    font-size: 3.5vmin;
    margin-top: 3vmin;
    text-align: center;
    font-family: 'ADLaM Display', cursive;
}

#user-msg {
    grid-column: 1 / 3;
    grid-row: 1;
    font-size: 7vmin;
    align-items: end;
    color: #557A46;
}

div p:first-child {
    border-bottom: 0.65vmin solid rgb(58, 58, 60);
    border-radius: 25%;
}

#dealer-msg {
    grid-column: 4 / 6;
    grid-row: 1;
    font-size: 7vmin;
    align-items: end;
    font-size: 7vmin;
    color: #CD1818;
}

#u-cards {
    grid-column: 1 / 3;
    grid-row: 2;
    justify-content: start;
    margin-left: 5vmin;
}

#deck {
    grid-column: 3;
    grid-row: 1 / 2;
    margin: 0 auto;
}

#d-cards {
    grid-column: 4 / 6;
    grid-row: 2;
    justify-content: start;
    height: 38vmin;
}

#controls {
    grid-column: 1;
    grid-row: 3;
}

#hit-div {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    justify-content: end;
    align-items: center;
}

#hit-btn {
    display: none;
}

#stay-btn {
    display: none;
}

#wager-msg {
    grid-column: 3;
    grid-row: 3;
}

#wallet-wager-msg {
    grid-column: 5;
    grid-row: 3;
    align-items: start;
    justify-content: start;
    margin-top: -10vmin;
    font-size: 3.5vmin;
    line-height: 0.5vmin;
    font-family: 'Tangerine', cursive;
}

#wallet-wager-msg div {
    border: 0.5vmin solid;
    padding-left: 1vmin;
}

#stay-div {
    grid-column: 4;
    grid-row: 3;
    display: flex;
    justify-content: start;
    align-items: center;
}

#wager-input {
    margin-top: 4vmin;
    margin-left: 5.5vmin;
    height: 7vmin;
    width: 9vmin;
    border: 0.5vmin solid rgb(41, 79, 76);
    border-radius: 10%;
    background-color: rgb(241, 231, 231);
    font-family: 'ADLaM Display', cursive;
    font-size: 3.5vmin;
}

#wager-input:hover {
    border: 0.5vmin solid rgb(0, 0, 1);
}

#wager-input::placeholder {
    text-align: center;
}

#wallet-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-right: 10vmin;
    border-radius: 5%;

}

.button-56 {
    align-items: center;
    background-color: #1ba7a9;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: 'ADLaM Display', cursive;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.button-56:active {
    background-color: #ffdeda;
    outline: 0;
}

.button-56:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .button-56 {
        padding: 0 40px;
    }
}

#stay-btn {
    background-color: rgb(190, 80, 50);
}

#wager-btn {
    background-color: rgb(60, 60, 60);
    color: rgb(220, 232, 235);
}

#play-again {
    grid-column: 3;
    grid-row: 2;
    height: 15vmin;
    width: 15vmin;
    border-radius: 50%;
    margin: 15vmin auto;
    font-size: 4vmin;
    font-family: 'ADLaM Display', cursive;
    background-color: rgb(227, 229, 230);
    border: 4px solid rgb(60, 60, 60);
}

#play-again:hover {
    border: 5px solid black;
}

#rules-list {
    grid-column: 3;
    grid-row: 2;
    font-size: 1.7vmin;
    line-height: 5vmin;
    color: black;
    font-family: 'ADLaM Display', cursive;
    margin-top: 7vmin;
}

.hidden {
    visibility: hidden;
}

#rules-btn {
    margin-top: 10vmin;
}